<md-content ng-controller="WeatherController">
<h1>JUHU</h1>
  <md-list>
    <!-- TODO: Translate -->
    <md-subheader class="md-no-sticky">Aktuelles Wetter</md-subheader>
    <!-- Current weather -->
    <md-list-item class="md-3-line">
      <md-icon class="mm-wi-5x">
        <i class="{{ currentWeatherIconClass }}"></i>
      </md-icon>
      <div class="md-list-item-text" layout="column">
        <h3>{{ currentWeatherInfo.description }}</h3>
        <h4>{{ currentWeatherInfo.sunrise | date }}</h4>
        <p>{{ currentWeatherInfo.sunset | date }}</p>
      </div>
    </md-list-item>
    <!-- Forecast -->
    <!--
    <md-list-item class="md-3-line" ng-repeat="item in todos">
      <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}"/>
      <div class="md-list-item-text" layout="column">
        <h3>{{ item.who }}</h3>
        <h4>{{ item.what }}</h4>
        <p>{{ item.notes }}</p>
      </div>
    </md-list-item>
  -->
  </md-list>
</md-content>
